<div class="mx-1/2">
  <LightbulbNumberCell @rowIndex=0 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=1 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=2 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=3 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=4 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=5 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
  <LightbulbNumberCell @rowIndex=6 @colIndex={{this.colIndex}} @digit={{this.digit}} @number={{this.number}} />
</div>
