<div class="p-1 bg-scoreboard-black">
  <div class="flex">
    <div class="flex-grow"></div>
    <LightbulbNumber
      @digit={{to-digit-place this.score 100}}
      @showZero={{false}}
      @onlyOne={{true}}
    />
    <div class="w-2"></div>

    <LightbulbNumber
      @digit={{to-digit-place this.score 10}}
      @showZero={{gte this.score 100}}
    />

    <div class="w-2"></div>

    <LightbulbNumber
      @digit={{to-digit-place this.score 1}}
      @showZero={{true}}
    />
  </div>
</div>
