<div class="bg-blue h-64 flex">
  <div class="w-1/3 p-4">
    <div class="text-center">
      Home
    </div>
    <div class="flex items-center h-32">
      <div class="flex-grow text-center text-4xl">
        {{this.scoreboard.homeScore}}
      </div>
    </div>
    <div class="text-center {{if this.scoreboard.homeBonus "text-white font-bold" "text-blue-light"}}">
      BONUS
    </div>
  </div>
  <div class="w-1/3 p-4">
    <div class="text-center">
      <ScoreboardMainClock @secondsRemaining={{this.scoreboard.secondsRemaining}} />
    </div>
  </div>
  <div class="w-1/3 p-4">
    <div class="text-center">
      Guests
    </div>
    <div class="flex items-center h-32">
      <div class="flex-grow text-center text-4xl">
        {{this.scoreboard.guestScore}}
      </div>
    </div>
    <div class="text-center {{if this.scoreboard.guestBonus "text-white font-bold" "text-blue-light"}}">
      BONUS
    </div>
  </div>
</div>
